@mixin coverMoveAnimation($class, $classIn) {
  $a: "U", "D";
  $b: "R", "L";
  $c: join($a, $b);
  @each $nA in $c {
    .#{$class + $nA + $classIn} {
      @if (index($a, $nA) != null) {
        @if (index($a, $nA) == 1) {
          top: -100%;
        } @else {
          top: 100%;
        }
      } @else {
        @if (index($b, $nA) == 1) {
          left: 100%;
        } @else {
          left: -100%;
        }
      }
    }
    @each $nB in $b {
      @if (($nA != $nB) and (index($b, $nA) == null)) {
        .#{$class + $nA + $nB + $classIn} {
          @if (index($a, $nA) == 1) {
            top: -100%;
          } @else {
            top: 100%;
          }
          @if (index($b, $nB) == 1) {
            left: 100%;
          } @else {
            left: -100%;
          }
        }
      }
    }
  }
}