@mixin coverTitlePosition($class, $classIn) {
  $a: "U", "D";
  $b: "R", "L";
  $c: join($a, $b);
  @each $nA in $c {
    .#{$class + $nA + $classIn} {
      @if (index($a, $nA) != null) {
        @if (index($a, $nA) == 1) {
          align-items: flex-start;
        } @else {
          align-items: flex-end;
        }
      } @else {
        @if (index($b, $nA) == 1) {
          justify-content: flex-end;
        } @else {
          justify-content: flex-start;
        }
      }
    }
    @each $nB in $b {
      @if (($nA != $nB) and (index($b, $nA) == null)) {
        .#{$class + $nA + $nB + $classIn} {
          @if (index($a, $nA) == 1) {
            align-items: flex-start;
          } @else {
            align-items: flex-end;
          }
          @if (index($b, $nB) == 1) {
            justify-content: flex-end;
          } @else {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}