// ----- text styles -----
.text {
  // color
  &-cW {
    color: #fff;
  }
  &-cB {
    color: #000;
  }
  
  // font-weight
  &-wB {
    font-weight: 700;
  }

  // font-style
  &-sI {
    font-style: italic;
  }

  // text-transform
  &-tC {
    text-transform: capitalize;
  }
  &-tL {
    text-transform: lowercase;
  }
  &-tU {
    text-transform: uppercase;
  }
}

// ----- link styles -----
.link {
  &Icon {
    font-size: 1.5em;
    &:hover {
      color: $contentIconLinkColor--hover;
    }
  }
  &Text {
    text-decoration: underline;
    &:hover {
      color: $contentTextLinkColor--hover;
    }
    &:visited {
      color: $contentTextLinkColor--visited;
    }
  }
}

// ----- button styles -----
.btn {
  padding: 10px 30px;
  color: $contentBtnColor;
  background-color: $contentBtnBackgroundColor;
  border-radius: 5px;
  &:hover {
    background-color: $contentBtnBackgroundColor--hover;
  }
  &--blue {
    background-color: $contentBtnBackgroundColor--blue;
    &:hover {
      background-color: $contentBtnBackgroundColor--hover--blue;
    }
  }
}