body {
  padding: $rootPadding--s;
  min-width: #{$bodyMinWidth + "px"};
  background-color: $bodyBackgroundColor;

}

.root {
  margin: 0 auto;
  padding: #{$headerHeight + "px"} 0 10px 0;
  max-width: #{$rootMaxWidth + "px"};
  z-index: 20;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 20px;
}

@media #{$mobileMiddle} {
  .root {
    padding: #{$headerHeight + 10 + "px"} 0 10px 0;
  }
}
@media #{$mobileLarge} {}
@media #{$tabletSmall} {
  .root {
    padding: #{$headerHeight + "px"} 0 0 0;
    height: 100vh;
  }
  .main {
    height: calc(100vh - #{$headerHeight + "px"});
  }
}
@media #{$tabletMiddle} {}
@media #{$tabletLarge} {}
@media #{$desktopSmall} {
  body {
    padding: $rootPadding--l;
  }
}
@media #{$desktopMiddle} {}
@media #{$desktopLarge} {}