.card {
  &--BSA &__cover {
    background-color: $contentCardCoverBackgroundColor--white;
  }
  &--JS &__cover {
    background-color: $contentCardCoverBackgroundColor--yellow;
  }
  &--Java &__cover {
    background-color: $contentCardCoverBackgroundColor--red;
  }
  &--PHP &__cover {
    background-color: $contentCardCoverBackgroundColor--navy;
  }
  &--QA &__cover {
    background-color: $contentCardCoverBackgroundColor--green;
  }
  &--NET &__cover {
    background-color: $contentCardCoverBackgroundColor--violet;
  }
  &--events &__cover {
    background-color: $contentCardCoverBackgroundColor--lightblue;
  }
  &--blog &__cover {
    background-color: $contentCardCoverBackgroundColor--mediumblue;
  }
  &--contacts &__cover {
    background-color: $contentCardCoverBackgroundColor--darkblue;
  }
}

.card {
  &__wrp {
    position: relative;
    overflow: hidden;
    min-height: 150px;
    background-color: $contentCardBackgroundColor;
  }
  &--s > div {
    min-height: auto;
  }
  &--l > div {
    min-width: 300px;
  }
  &__body {
    padding: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    background-color: $contentCardBackgroundColor;
    &--text {
      align-self: flex-start;
    }
    &--btns {
      font-size: 1.2em;
    }
  }
  &__cover {
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
    &--title {
      &S {
        font-size: 1em;
      }
      &L {
        font-size: 5em;
      }
      &I {
        width: 50%;
      }
    }
  }
}

[class*="cover-flip"] {
  &.card {
    background-color: transparent;
    perspective: #{$cardScenePerspective + "px"};
  }
  & .card__wrp {
    overflow: unset;
    transition: transform .75s;
    transform-style: preserve-3d;
    & > div {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
    }
  }
}
.cover-flipR {
  &.card:hover .card__wrp, & .card__wrp .card__body {
    transform: rotateY(180deg);
  }
}
.cover-flipL {
  &.card:hover .card__wrp, & .card__wrp .card__body {
    transform: rotateY(-180deg);
  }
}

@include coverTitlePosition("cover-p", " .card__cover");
@include coverMoveAnimation("cover-move", ":hover .card__cover");

@media #{$mobileMiddle} {}
@media #{$mobileLarge} {}
@media #{$tabletSmall} {
  .card {
    &__wrp {
      min-height: auto;
      height: 100%;
    }
  }
}
@media #{$tabletMiddle} {}
@media #{$tabletLarge} {}
@media #{$desktopSmall} {}
@media #{$desktopMiddle} {}
@media #{$desktopLarge} {}