@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

// ----- header ----------
.header {
  padding: $rootPadding--s;
  height: #{$headerHeight - 20 + "px"};
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  animation: slideInFromUp .75s ease-out 0s;
  &__navbar {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: #{$rootMaxWidth + "px"};
  }
  &__logo {
    height: #{$headerHeight - 20 - 10 + "px"};
    img {
      height: 100%;
    }
  }
  &__right {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
  }
  &__toggle {
    display: none;
    &--btn {
      margin-left: 15px;
      height: #{$headerHeight - 20 - 10 + "px"};
      width: #{$headerHeight - 20 - 10 + "px"};
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20rem;
      font-weight: 500;
      color: #fff;
      background-color: $headerNavLogoBackgroundColor;
      border-radius: 50%;
      &:hover {
        background-color: $headerNavLogoBackgroundColor--hover;
      }
    }
    &:checked {
      &~.header__nav {
        display: block;
      }
      &~.header__toggle--btn {
        background-color: $headerNavLogoBackgroundColor--hover;
      }
    }
  }
  &__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    color: $headerNotificationColor;
    &:hover {
      color: $headerNotificationColor--hover;
      cursor: pointer;
    }
  }
  &__nav {
    position: absolute;
    top: 110%;
    right: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    &__list {
      padding: .75em;
      display: flex;
      flex-flow: column nowrap;
    }
    &__item {
      &--head {
        color: $headerNavTextColor;
        &:after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background-color: $headerNavTextColor;
        }
      }
      &:not(&--head) {
        font-size: 1.1em;
        font-weight: 500;
      }
    }
    &__link, &__link--head {
      padding: .3em .6em;
      display: block;
      white-space: nowrap;
    }
    &__link {
      &--head {
        cursor: default;
      }
      &:hover {
        background-color: $headerNavTextBackgroundColor;
      }
    }
  }
}


@media #{$mobileMiddle} {
  .header {
    height: #{$headerHeight - 10 + "px"};
  }
}
@media #{$mobileLarge} {}
@media #{$tabletSmall} {
  .header {
    height: #{$headerHeight + "px"};
    &__logo {
      height: #{$headerHeight - 20 + "px"};
    }
    &__toggle {
      &--btn {
        margin-left: 25px;
        height: #{$headerHeight - 20 - 5 + "px"};
        width: #{$headerHeight - 20 - 5 + "px"};
      }
    }
  }
}
@media #{$tabletMiddle} {}
@media #{$tabletLarge} {}
@media #{$desktopSmall} {
  .header {
    padding: $rootPadding--l;
  }
}
@media #{$desktopMiddle} {}
@media #{$desktopLarge} {}