@keyframes hideO {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes hideH {
  0% {
    max-height: 300px;
  }
  100% {
    max-height: 0;
  }
}
@keyframes hideS {
  100% {
    margin: 0;
    padding: 0;
  }
}

.messageBox {
  max-width: 250px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 150;
}

.message {
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: $messageColor;
  background-color: $messageBackgroundColor;
  border-radius: 5px;
  overflow: hidden;
  opacity: .75;
  transform-origin: bottom;
  &:hover {
    opacity: 1;
    animation: unset;
  }
  &__icon {
    margin-right: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25rem;
  }
  &__title {
    font-weight: 700;
  }
  &--error {
    background-color: $messageBackgroundColor--error;
    // show Message and then hide Message animation
    animation: 
      .5s ease-out 3.5s reverse backwards hideO, 
      2s linear 2.5s reverse backwards hideH, 
      .25s linear 2s reverse backwards hideS,
      .5s ease-out 16s forwards hideO, 
      2s linear 14.5s forwards hideH, 
      .25s linear 16s forwards hideS;
  }
  &--success {
    background-color: $messageBackgroundColor--success;
    // hide Message animation
    animation: 
      .5s ease-out 11s forwards hideO, 
      2s linear 9.5s forwards hideH, 
      .25s linear 11s forwards hideS;
  }
  &--warning {
    background-color: $messageBackgroundColor--warning;
    // hide Message animation
    animation: 
      .5s ease-out 5s forwards hideO, 
      2s linear 3.5s forwards hideH, 
      .25s linear 5s forwards hideS;
  }
}

@media #{$mobileMiddle} {}
@media #{$mobileLarge} {}
@media #{$tabletSmall} {}
@media #{$tabletMiddle} {}
@media #{$tabletLarge} {}
@media #{$desktopSmall} {}
@media #{$desktopMiddle} {}
@media #{$desktopLarge} {}