$mobileMiddle: "screen and (min-width: 375px)";
$mobileLarge: "screen and (min-width: 420px)";
$tabletSmall: "screen and (min-width: 576px)";
$tabletMiddle: "screen and (min-width: 680px)";
$tabletLarge: "screen and (min-width: 768px)";
$desktopSmall: "screen and (min-width: 992px)";
$desktopMiddle: "screen and (min-width: 1200px)";
$desktopLarge: "screen and (min-width: 1400px)";