$bodyBackgroundColor: #f8f9fc;

$headerBackgroundColor: #fff;
$headerNotificationColor: #bec9da;
$headerNotificationColor--hover: #99a0a9;
$headerNavLogoBackgroundColor: #f8991c;
$headerNavLogoBackgroundColor--hover: #fb7f00;
$headerNavTextColor: #9ba6b2;
$headerNavTextBackgroundColor: #f6f7fc;

$contentCardBackgroundColor: #fff;
$contentCardCoverBackgroundColor--white: #fff;
$contentCardCoverBackgroundColor--yellow: #f7cf69;
$contentCardCoverBackgroundColor--green: #52bf77;
$contentCardCoverBackgroundColor--red: #e12b4c;
$contentCardCoverBackgroundColor--violet: #642077;
$contentCardCoverBackgroundColor--navy: #8893c0;
$contentCardCoverBackgroundColor--lightblue: #2d99ff;
$contentCardCoverBackgroundColor--mediumblue: #0443a3;
$contentCardCoverBackgroundColor--darkblue: #00265f;

$contentTextLinkColor--hover: #0443a3;
$contentTextLinkColor--visited: #6b4c82;

$contentIconLinkColor--hover: #2d99ff;

$contentBtnColor: #fff;
$contentBtnBackgroundColor: #bec9da;
$contentBtnBackgroundColor--hover: #99a0a9;
$contentBtnBackgroundColor--blue: #2d99ff;
$contentBtnBackgroundColor--hover--blue: #0443a3;

$messageColor: #fff;
$messageBackgroundColor: #75add4;
$messageBackgroundColor--warning: #faa045;
$messageBackgroundColor--success: #6bab69;
$messageBackgroundColor--error: #c3534e;