.grid, .subgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media #{$mobileMiddle} {}
@media #{$mobileLarge} {}
@media #{$tabletSmall} {
  .grid {
    max-height: #{$gridSectionMaxHeight + "px"};
    height: 100%;
    grid-template-columns: 25% 20% 5% 28% 3% 19%;
    grid-template-rows: 25% 13% 12% 25% 25%;
    grid-template-areas: 
      "ga-bsa ga-bsa ga-js ga-js ga-sub ga-sub"
      "ga-bsa ga-bsa ga-js ga-js ga-sub ga-sub"
      "ga-bsa ga-bsa ga-js ga-js ga-sub ga-sub"
      "ga-java ga-java ga-java ga-php ga-php ga-php"
      "ga-qa ga-qa ga-qa ga-net ga-net ga-net";
    &__item {
      &--BSA {
        grid-area: ga-bsa;
      }
      &--JS {
        grid-area: ga-js;
      }
      &--Java {
        grid-area: ga-java;
      }
      &--PHP {
        grid-area: ga-php;
      }
      &--QA {
        grid-area: ga-qa;
      }
      &--NET {
        grid-area: ga-net;
      }
      &--sub {
        grid-area: ga-sub;
      }
    }
  }
  .subgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 38% 38% 24%;
    grid-template-areas: 
      "ga-events"
      "ga-blog"
      "ga-contacts";
    &__item {
      &--events {
        grid-area: ga-events;
      }
      &--blog {
        grid-area: ga-blog;
      }
      &--contacts {
        grid-area: ga-contacts;
      }
    }
  }
}
@media #{$tabletMiddle} {}
@media #{$tabletLarge} {}
@media #{$desktopSmall} {
  .grid {
    grid-template-columns: 25% 20% 5% 28% 3% 19%;
    grid-template-rows: 25% 13% 12% 25% 25%;
    grid-template-areas: 
      "ga-bsa ga-js ga-js ga-php ga-php ga-php"
      "ga-bsa ga-js ga-js ga-php ga-php ga-php"
      "ga-bsa ga-js ga-js ga-net ga-net ga-sub"
      "ga-qa ga-js ga-js ga-net ga-net ga-sub"
      "ga-qa ga-java ga-java ga-net ga-net ga-sub";
  }
}
@media #{$desktopMiddle} {}
@media #{$desktopLarge} {}